@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('./assets/fonts/Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Bold/BarlowCondensed-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/Bold/BarlowCondensed-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adlery Pro';
  src: url('./assets/fonts/Bold/AdleryPro-Blockletter.woff2') format('woff2'),
    url('./assets/fonts/Bold/AdleryPro-Blockletter.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Black/BarlowCondensed-BlackItalic.woff2') format('woff2'),
    url('./assets/fonts/Black/BarlowCondensed-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Black/BarlowCondensed-Black.woff2') format('woff2'),
    url('./assets/fonts/Black/BarlowCondensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adine Kirnberg';
  src: url('./assets/fonts/Regular/AdineKirnberg-Regular.woff2') format('woff2'),
    url('./assets/fonts/Regular/AdineKirnberg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Scriptina';
  src: url('./assets/fonts/Regular/Scriptina.woff2') format('woff2'),
    url('./assets/fonts/Regular/Scriptina.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Regular/BarlowCondensed-Regular.woff2') format('woff2'),
    url('./assets/fonts/Regular/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Light/BarlowCondensed-LightItalic.woff2') format('woff2'),
    url('./assets/fonts/Light/BarlowCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Light/BarlowCondensed-Light.woff2') format('woff2'),
    url('./assets/fonts/Light/BarlowCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Thin/BarlowCondensed-Thin.woff2') format('woff2'),
    url('./assets/fonts/Thin/BarlowCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/Thin/BarlowCondensed-ThinItalic.woff2') format('woff2'),
    url('./assets/fonts/Thin/BarlowCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bunch Blossoms Personal Use';
  src: url('./assets/fonts/Regular/BunchBlossomsPersonalUse.woff2') format('woff2'),
    url('./assets/fonts/Regular/BunchBlossomsPersonalUse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
